@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    height: 100vh;
}


img{
    height: 90px;
    max-width: fit-content;
    border-radius: 50px;
}



.card{
    background-color: hsl(0, 0%, 12%);
    width: 345px;
    border-radius: 15px;
}

h1{
    font-size: 25px;
}

.location{
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: bolder;
}

.button{
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    font-weight: bolder;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.description{
    font-size: 14px;
    opacity: 0.7;
}

.button:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}